<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd    
                        http://www.springframework.org/schema/aop  
                        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<description>spring applicationContext</description>

	<!-- 默认扫描的包路径 -->
	<context:component-scan base-package="com.mybatis.jpa">
		<!-- 不扫描带有Controller注解的类 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- ASPECTJ注解 proxy-target-class="true" -->
	<aop:aspectj-autoproxy />

	<!-- 开启注解事务的支持 DataSourceTransactionManager -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 将多个配置文件读取到容器中，交给Spring管理 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- db -->
				<!--<value>classpath:druid-pool.properties</value>-->
			</list>
		</property>
	</bean>

	<!-- spring druid 配置文件 -->
	<import resource="spring-druid.xml" />

	<!-- spring mybatis 配置文件 -->
	<import resource="spring-mybatis.xml" />

</beans>  