<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context.xsd    
                        http://www.springframework.org/schema/aop  
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/cache
                        http://www.springframework.org/schema/cache/spring-cache.xsd">

	<!-- 默认扫描的包路径 -->
	<context:component-scan base-package="com.ybg">
		<!-- 不扫描带有Controller注解的类 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- ASPECTJ注解 proxy-target-class="true" -->
	<aop:aspectj-autoproxy />

	<!-- 将多个配置文件读取到容器中，交给Spring管理 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- db -->
				<value>classpath:configs/db.properties</value>
				<value>classpath:configs/system_config.properties</value>
			</list>
		</property>
	</bean>

	<!-- mybatis配置文件 -->
	<import resource="spring-mybatis.xml" />

	<!-- jpa配置文件 -->
	<!-- <import resource="spring-jpa.xml" /> -->

</beans>  