<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.jpa.mapper.UserQueryMapper">

    <select id="selectUnion" resultType="user">
		SELECT t.*,a.*,r.* FROM t_sys_user t
		LEFT JOIN t_sys_user_archive a ON t.id = a.id
		LEFT JOIN t_relation_user_role r ON t.id = r.user_id
		WHERE t.id = #{id}
	</select>
</mapper>